<div class="p-3 text-decoration-none">
<h1>Movies</h1>
<div class="mt-4 border-bottom border-secondary-subtle border-2 mb-4 text-decoration-none">
<ul class="list-inline">
  <% @movies.each do |movie| %>
     <li class="mb-5">
     <h2><%= movie.title %></h2>
     <p><%= movie.overview %></p>
     <img src="<%= movie.poster_url %>" alt="image not found" class="img-thumbnail img-fluid" width=200 >
     <h5><%= movie.rating %> ⭐️</h5>
     </li>
  <% end %>
</ul>

  <%= link_to "Back to lists", lists_path %>
